<% include ./../../helpers/selectbox %>

<%
    const collection = 'users';
    const linkPrefix = systemConfig.prefixAdmin + `/${collection}/`;
    const folderUpload = 'uploads/users/';
%>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form 
            </div>
            <div class="panel-body">
                <% include ./../../elements/errors %>
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="<%= linkPrefix %>save" method="POST">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input class="form-control" name="fullname" value="<%= item.fullname %>">
                            </div>
                            <div class="form-group">
                                <label>User Name</label>
                                <input class="form-control" name="username" value="<%= item.username %>">
                            </div>
                            <% if(!item.id) { %>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="form-control" name="password" value="<%= item.password %>">
                            </div>
                            <% } %>
                            <div class="form-group">
                                <label>Phone</label>
                                <input class="form-control" name="phone" value="<%= item.phone %>">
                            </div>
                            <div class="form-group">
                                <label>Status</label>
                                <select name="status" class="form-control">
                                    <option value="novalue">Choose Status</option>
                                    <option value="active" <%= (item.status == "active") ? 'selected="selected"' : '' %> >Active</option>
                                    <option value="inactive" <%= (item.status == "inactive") ? 'selected="selected"' : '' %> >Inactive</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Group</label>
                                <%- selectboxHelper('group_id', groupsItems, item.group.id) %>
                            </div>
                            <input class="form-control" name="id" value="<%= item.id %>" type="hidden">
                            <input class="form-control" name="group_name" value="<%= item.group.name %>" type="hidden">
                            <button type="submit" class="btn btn-primary">Submit </button>
                            <a type="button" href="<%= linkPrefix %>" class="btn btn-default">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
